@import "reset.css";

@font-face {
    font-family: Proxima_Nova_Cond;
    src: url("fonts/Proxima_Nova_Cond.otf");
}

@font-face {
    font-family: Ogilvie_Cyr;
    src: url("fonts/Ogilvie_Cyr.ttf");
}

.middle {
    height: 898px;
    width: auto;
    background: url("img/back.png")
}
.footer {
    height: 75px;
    width: auto;
    background-color: #eff3f7;
    text-align: center;
}
.lasttable {
    max-width: 944px;
    margin: 0 auto;
    padding-top: 30px;
    font-family: Fira Sans;
    font-size: 13px;
    margin-bottom: 10px;
}
.mysite {
    margin-top: 33px;
    float: left;
    width: 900px;
}
.float {
    float: left;
}
ul {
    text-align: left;
    margin-left: 20px;
    width: 241px;
    list-style: none;
    font-family: "Fira Sans";
    border-radius: 5px;

}
li a {
    padding: 5px 10px;
    display: block;
    color: white;
    text-decoration: none;
    background: #3ba8c0;
}

ul ul{
    margin: 0;
}
ul ul a  {
    padding-left: 20px;
    font-size: 12px;
    color: #959aa8;
    background: #eff3f7;
}
.uf {
    font-size: 23px;
}
.all {
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 77.5px;
}
.menu {
    margin-top: 40px;
    text-align: center;
    width: 236px;
    float: left;
    box-sizing: content-box;
    padding: 0 17px;
    margin-right: 31.32px;
    border-radius: 5px;
}

.form {
    width: 590px;
    height: 92px;
    background-color: #48cbe8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.bigtipe {
    width: 590px;
    height: 15px;
    background-color: #67dffa;
}
.worksheet {
    width: 590px;
    height: 377px;
    background-color: #eff3f7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

p {
    font-family: Fira Sans;
}

.form > p {
    font-size: 40px;
    color: #ffffff;
    padding-top: 28px;
}

.logindata {
    width: 425px;
    padding-top: 27px;
    margin-bottom: 23px;
    margin-left: 83px;
}
.passworddata {
    width: 425px;
    margin-left: 83px;
}

.description {
    font-size: 36px;
    text-align: center;
    color: #adb2bd;
    margin-bottom: 13px;
}
input {
    width: 407px;
    height: 44px;
    padding: 9px;
    border-color: #4dcce8;
    border-radius: 5px;
    border-width: 0px;
    border-style: double;
    font-size: 13px;
    color: #4dcce8;
}
::-webkit-input-placeholder {color:#4dcce8;}
::-moz-placeholder          {color:#4dcce8;}
:-moz-placeholder           {color:#4dcce8;}
:-ms-input-placeholder      {color:#4dcce8;}

.signin {
    width: 226px;
    height: 50px;
    margin-top: 33px;
    margin-bottom: 23px;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #3ba8c0;
    font-size: 30px;
    background-color: #4dcce8;
    color: #ffffff;
}

