@import "reset.css";

@font-face {
    font-family: Proxima_Nova_Cond;
    src: url("../fonts/Proxima_Nova_Cond.otf");
}

.header {
    height: 119px;
    width: 100%;
    margin: 0 auto;
    background-color: #eff3f7;
}
.head {
    width: 100%;
    margin: 0 auto;
    padding-right: 100px;
}
.logo {
    height: 109px;
    margin-top: 6px;
    margin-left: 14.67532467532468%;
}
.img {
    width: 5.45%;
}
.socialbut {
    text-align: right;
}
.socialbut > a {
    margin-left: 3.246753246753247%;
    /*margin-left: 25px;*/
    vertical-align: 30px;
}
#gh {
    margin-right: 100px;
}
.tipe {
    height: 3px;
    width: auto;
    background: radial-gradient(at center, #226a7e, #e7eff3);
}
.vk, .tw, .fb, .gh{
    position: relative;
}
.vk:hover:after {
    position: absolute;
    content: url("../img/socialbut/vkhover.png");
    left: 0;
    right: 0;
}
.tw:hover:after {
    position: absolute;
    content: url("../img/socialbut/twhover.png");
    left: 0;
    right: 0;
}
.fb:hover:after {
    position: absolute;
    content: url("../img/socialbut/fbhover.png");
    left: 0;
    right: 0;
}
.gh:hover:after {
    position: absolute;
    content: url("../img/socialbut/ghhover.png");
    left: 0;
    right: 0;
}
.middle {
    width: 100%;
    height: 898px;
    background: url("../img/back.png")
}
.footer {
    height: 75px;
    width: 100%;
    background-color: #eff3f7;
    text-align: center;
    font-family: "Fira Sans";
}
ul {
    text-align: left;
    margin-left: 20px;
    width: 241px;
    list-style: none;
    font-family: "Fira Sans";
}
li a {
    padding: 5px 10px;
    display: block;
    color: white;
    text-decoration: none;
    background: #3ba8c0;
}
ul ul{
    margin: 0;
}
ul ul a  {
    padding-left: 20px;
    font-size: 12px;
    color: #959aa8;
    background: #eff3f7;
}
/*.first_menu {
    font-size: 23px;
    line-height: 60px;
}
.second_menu {
    line-height: 30px;
    margin-top: 20px;
    border-radius: 4px;
}*/
.all {
    width: 90.90909090909091%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 77.5px;
}
.menu {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    /*float: left;*/
    border-radius: 5px;
}
#menu {
    display: none;
}
.blockone {
    width: 100%;
    height: 312px;
    background-color: #eff3f7;
    border-radius: 5px;
}
.blocktwo {
    margin-top: 25px;
    width: 100%;
    height: 233px;
    background-color: #eff3f7;
    border-radius: 5px;
}
.blockthree {
    margin-top: 25px;
    width: 100%;
    height: 233px;
    background-color: #eff3f7;
    border-radius: 5px;
}
.title {
    width: 100%;
    float: left;
    text-align: left;
    font-family: "Fira Sans";
    font-size: 21px;
    color: #3ba8c0;
    margin: 20px;
    margin-bottom: 15px;
}
.user_icon {
    width: 20.71428571428571%;
    float: left;
    margin-left: 7.857142857142857%;
    margin-top: 25px;
}
.icon {
    /*width: 5.714285714285714%;*/
    float: left;
    margin-left: 7.857142857142857%;
    margin-top: 25px;
}
#iconcourse {
    padding-left: 7px;
    padding-right: 7px;
}
button {
    height: 19px;
    background: linear-gradient(to top, #2e8ca2 50%, #3ba8c0 50%);
    border-radius: 2px;
    border: none;
    color: white;
}
.tag:hover {
    background: linear-gradient(to top, #3ba8c0 50%, #2e8ca2 50%);
}
#gulp {
    margin-left: 154px;
}
.tag > p {
    font-size: 14px;
    margin-left: 11px;
    margin-right: 11px;
    font-family: "Proxima_Nova_Cond";
}
.blockone > div {
    width: 400px;
    float: left;
    text-align: left;
    font-family: "Fira Sans";
    font-size: 15px;
    margin-top: 24px;
    margin-left: 35px;
    line-height: 27px;
}
.content {
    height: 35px;
    float: left;
    margin-top: 25px;
    margin-left: 24px;
    text-align: left;
    font-family: "Fira Sans";
    font-size: 15px;
    line-height: 20px;
}
/*.data {*/
    /*width: 640px;*/
/*}*/
.place {
    font-size: 17px;
}
.time {
    font-size: 15px;
}
.tags {
    width: 28.57142857142857%;
}
.item {
    font-weight: bold;
}
.divider {
    float: left;
    border-color: #3ba8c0;
    border-style: double;
}
#dividerone {
    width: 40%;
    margin-right: 360px;
}
#dividertwo {
    width: 25%;
    margin-right: 420px;
}
#dividerthree {
    width: 25.71428571428571%;
    margin-right: 415px;
}
.geninfo{
    font-family: "Fira Sans";
    font-size: 21px;
    color: #3ba8c0;
    text-align: left;
    position: relative;
    top: 22px;
    left: 22px;
}
/*.table {*/
    /*width: 642px;*/
    /*padding: 20px;*/
/*}*/
table {
    border-spacing: 10px 0;
}
.pochta {
    background-color: #41b9d4;
    color: #ffffff;
}
.phone {
    background-color: #48cbe8;
    color: #ffffff;
}
.skype {
    background-color: #51daf8;
    color: #ffffff;
}
.window {
    background-color: #eff3f7;
    border-radius: 3px;
    vertical-align: top;
    font-family: "Fira Sans";

}
input[type="radio"] {
    display: none;
}
hr {
    border-color: #3ba8c0;
    width: 239px;
    margin-top: 4px;
}
input[type="radio"] + label {
    display: block;
    width: 241px;
    height: 65px;
    text-align: center;
    border-radius: 3px;
    transition: .3s;
}
input[type="radio"]:checked + label a{
    background-color: #3ba8c0;
    color: #ffffff;
    margin-left: 0px;
    padding-left: 20px;
    border-radius: 4px;
}
.window a {
    text-align: left;
    margin-left: 20px;
    color: #959aa8;
    text-decoration: none;
    display: block;
}
.window hr {
    margin-left: -20px;
}
.window a:hover {
    color: #3ba8c0;
}
.pics {
    padding-right: 10px;
}
.contacts a {
    margin: 50px;
}
.skype, .pochta, .phone{
    text-decoration: none;
}
.skype:hover, .pochta:hover, .phone:hover{
    text-decoration: underline;
}
.bordercont {
    border-radius: 5px;
}
