@import "../styles/reset.css";

@font-face {
    font-family: Proxima_Nova_Cond;
    src: url("../fonts/Proxima_Nova_Cond.otf");
}

.tipe {
    height: 3px;
    width: auto;
    background: radial-gradient(at center, #226a7e, #e7eff3);
}
.middle {
    /*height: 898px;*/
    width: auto;
    background: url("../img/back.png")
}
.footer {
    height: 75px;
    width: auto;
    background-color: #eff3f7;
    text-align: center;
}
.lasttable {
    max-width: 944px;
    margin: 0 auto;
    padding-top: 30px;
    font-family: Fira Sans;
    font-size: 13px;
    margin-bottom: 10px;
}
.mysite {
    margin-top: 33px;
    float: left;
    width: 900px;
}
.float {
    float: left;
}
.all {
    max-width: 625px;
    margin: 0 auto;
    margin-bottom: 77.5px;
}
.menu {
    margin: 20px;
    margin-top: 150px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 11px 33px -12px #555;
}
.form {
    width: 585px;
    height: 92px;
    background-color: #48cbe8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.label {
    font-family: "Fira Sans";
    font-size: 13px;
    /*width: 550px;*/
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    left: -115px;
    background: red;
    position: absolute;
    display: none;
    margin-top: 16%;
    float: right;
}
.bigtipe {
    width: 585px;
    height: 15px;
    background-color: #67dffa;
}
.worksheet {
    width: 585px;
    height: 377px;
    background-color: #eff3f7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
p {
    font-family: Fira Sans;
}
.form > p {
    font-size: 40px;
    color: #ffffff;
    padding-top: 28px;
}
#login {
    padding-top: 27px;
    margin-bottom: 23px;
}
.data {
    width: 425px;
    margin-left: 83px;
    position: relative;
}
.description {
    font-size: 36px;
    text-align: center;
    color: #adb2bd;
    margin-bottom: 13px;
}
input {
    width: 407px;
    height: 44px;
    padding: 9px;
    border-color: #4dcce8;
    border-radius: 5px;
    border-width: 0px;
    border-style: double;
    font-size: 13px;
    color: #4dcce8;
}
::-webkit-input-placeholder {color:#4dcce8;}
::-moz-placeholder          {color:#4dcce8;}
:-moz-placeholder           {color:#4dcce8;}
:-ms-input-placeholder      {color:#4dcce8;}
.signin {
    width: 226px;
    height: 50px;
    margin-top: 33px;
    margin-bottom: 23px;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #3ba8c0;
    font-size: 30px;
    background-color: #4dcce8;
    color: #ffffff;
}